@media (max-width: 600px) {
  .Container{
    width: 100%;
  }
}
@media (min-width: 601px) {
  .Container{
    width: 65%;
    display:flex;
    flex-direction: column;
    align-items: start;
  }
}
@media (min-width: 1101px) {
  .Container{
    width: 35%;
    display:flex;
    flex-direction: column;
    align-items: start;
  }
}
.Background{
  background-color: lightslategrey;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  font-family: "mongolian baiti";
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Nav{ 
  width: 100%;
  background-color: rgb(255, 94, 0);
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#Menu {
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: 100%;
  letter-spacing: 6px;
  display:flex;
}
#Menu> div:first-child{
  width: 200px;
  background-color: rgb(255, 94, 0);
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo_grande{
  height:170px;
}
